.list{
	composes: list from './List.css';
	display: flex;
	height: 500px;
	margin-top: calc(50vh - 300px);
}

.list li{
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e0e0e0;
	border-bottom: none;
	flex-grow: 2;
	background-position: center bottom;
}

.list li:last-of-type{
	border-right: none;
}

.list li p{
	align-self: center;
	margin-top: 440px;
	font-size: 30px;
}
