.list{
	margin: 1rem 0 1rem 0;
	margin-left: calc(20%/2);
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	overflow: hidden;
	list-style-type: none;
	width: 80%;
	margin-top: calc(50vh - 300px);
}

.list li{
	background-color: #FFF;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
	line-height: 1.5rem;
	transition: background-color 300ms ease-in-out;
}

.list li:hover{
	background-color: #303f9f;
}

.list li:active{
	background-color: #283593;
}

.list li a{
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
}

.padding{
	padding: 10px 20px;
}
