.registerForm{
    margin: 1rem 0 1rem 0;
	margin-left: calc(20%/2);
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	overflow: hidden;
	list-style-type: none;
	width: 80%;
	margin-top: calc(20% - 300px);
}

.registerForm input, .registerForm legend, .registerForm button{
    width: 100%;
    background-color: #FFF;
    border: none;
	margin: 0;
	line-height: 1.5rem;
    transition: all 300ms ease-in-out;
    padding: 10px 20px;
}

.registerForm input{
    width: calc(100% - 42px);
    color: #90a4ae;
    outline: none;
    border: 1px solid #FFF;
}

.registerForm input:focus{
    border-color: #303f9f;
}

.registerForm button {
    cursor: pointer;
}

.registerForm button:hover{
    background-color: #283593;
    color: #FFF;
}